@media only screen and (max-width: 600px){

    header p {
        font-size: 19px;
        white-space: nowrap;
    }

    .logo button {
        margin-left: 1rem;
        margin-right: 0.5rem;

        width: 50px;
        height: 55px;
    }

    .logo>p {
        font-size: 1.2rem;
    }


    .cartInfo img {
        height: 30px;
        min-width: 20px;
    }

}

@media only screen and (min-width: 601px) and (max-width: 700px) {
    
    .logo>p {
        font-size: 1.2rem;
        white-space: nowrap;
    }
}