header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;

    background-color: white;
    z-index: 999;

    height: 70px;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 30%;
    height: 100%;
}

@keyframes logoMove {
    from {}

    to {
        transform: translateX(20vw);
    }
}


.logo button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 65px;
    margin-left: 1.5rem;
    margin-right: 1rem;

}

.logo button>img{
    width: 100%;
    height: 100%;
}

.logo button:hover {
    transform: scale(1.1);
}


.logo>p {
    font-size: 25px;
    font-weight: 7000;
    font-family: 'Alkatra', cursive;
    font-family: 'Bebas Neue', cursive;
}

.currentCategory {
    font-size: 25px;
    font-weight: 7000;
    font-family: 'Alkatra', cursive;
    font-family: 'Bebas Neue', cursive;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 100%;
}

.cartInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


    margin-right: 1rem;

    width: 10%;

}

.cartInfo img {
    height: 30px;
    min-width: 30px;
    margin: 2px;
}

.cartInfo .cart {
    position: relative;
}

.cartInfo .cart span {
    display: none;
    align-items: center;
    background-color: orange;
    border-radius: 11px;
    color: black;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0px 6px;
    text-align: center;
    height: 19px;
    width: 7px;

    position: absolute;
    bottom: 0px;
    right: 0px;

}

.cartInfo a {
    text-decoration: none;
    cursor: pointer;
}