@media only screen and (max-width: 600px) {



    .container {
        display: none;
    }

    .containerResponsive {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(56, 53, 53, 0.6);
        background-color: white;
        overflow: hidden;
    }

    .mainHeader2 {
        width: 100%;
        height: auto;

        position: relative;
    }

    /*ako se video ne loada*/
    .mainHeader2>img {
        width: 100%;
        height: 100%;
    }

    @keyframes mainHeaderIn {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }

        to {
            opacity: 1;
        }
    }

    .mainHeader2>video {
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: -1;

        animation: mainHeaderIn 2s ease-in-out;
    }

    .mainHeader2>div {
        position: absolute;
        top: 10%;
        left: 20%;

        background-color: rgba(0, 0, 0, 0.5);

        width: 37%;
        max-height: max-content;

        animation: mainHeaderIn 2s ease-in-out;
    }

    .mainHeader2 p {
        font-size: 0.4rem;
        font-weight: 600;
        color: gold;

    }


    @keyframes menuIn {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }

        to {
            opacity: 1;
        }
    }


    .categoriesResponsive {
        display: none;
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.6);

        z-index: 1;

        animation: menuIn 0.6s ease-in-out;

    }

    @keyframes menuItemsIn {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }

        to {
            opacity: 1;
        }
    }

    .categoriesResponsive>button {
        background-color: rgba(213, 213, 213, 0);
        cursor: pointer;
        width: 40%;
        height: 30px;

        margin-top: 10px;
        margin-bottom: 10px;

        border: 3px solid black;
        color: white;

        animation: menuItemsIn 1s ease-in-out;
    }

    #menuBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2px;
        left: 2px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        box-shadow: 2px 2px 2px 2px black;
    }

    .products2 {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @keyframes productsIn {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to {
            opacity: 1;
        }
    }

    .product2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3px;

        margin: 20px;

        border: 4px double goldenrod;

        animation: productsIn 1s ease-in-out;
    }

    .productImage2 {
        width: 100%;
        height: 150px;
        position: relative;
    }

    .productImage2 img {
        width: 100%;
        height: 100%;
    }

    .product2 p {
        font-size: 1rem;
        font-weight: 700;
    }

    .productImage2 span {
        position: absolute;
        bottom: 10px;
        left: 5px;

        height: 15px;
        width: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: orange;
        border-radius: 11px;
        padding: 3px 6px;

        color: black;
        font-size: 0.7rem;
        font-weight: 600;
        text-align: center;


    }

    .productImage2 button {
        position: absolute;
        bottom: 10px;
        right: 10px;


        width: 25px;
        height: 20px;

        cursor: pointer;
    }

    .productImage2 button img {
        width: 100%;
        height: 100%;
    }

    .newsLetter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 5px;

        width: 80%;


    }

    .titleHeader>p {
        color: black;
        text-decoration: underline overline #FF3028;
    }

    .news2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid white;
        padding: 10px;
        background-color: black;
    }

    .newsInfo2,
    .newsInfo2 a {
        padding: 1.5rem;
    }

    .newsImage2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 50%;
    }

    /**/

    .news2 .newNews2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 5px;

        width: 90%;
    }

    .newsTitle2 {
        color: red;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .newsImage2 img {
        width: 100%;
        height: 100%;
    }

    .newsInfo2 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
    }

    .newsInfo2 a {
        text-decoration: none;
        color: rgb(300, 110, 10);
        position: absolute;
        bottom: -1.5rem;
        right: 0;
        transition: all 1s;
    }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .container {
        display: none;
    }

    .containerResponsive {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(56, 53, 53, 0.6);
        background-color: white;
        overflow: hidden;


    }

    .mainHeader2 {
        width: 100%;
        height: auto;

        position: relative;
    }

    /*ako se video ne loada*/
    .mainHeader2>img {
        width: 100%;
        height: 100%;
    }

    @keyframes mainHeaderIn {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }

        to {
            opacity: 1;
        }
    }

    .mainHeader2>video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        animation: mainHeaderIn 2s ease-in-out;
    }

    .mainHeader2>div {
        position: absolute;
        top: 10%;
        left: 15%;

        background-color: rgba(0, 0, 0, 0.5);

        width: 30%;
        max-height: max-content;

        animation: mainHeaderIn 2s ease-in-out;
    }

    .mainHeader2 p {
        font-size: 0.6rem;
        font-weight: 600;
        color: gold;

    }


    @keyframes menuIn {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }

        to {
            opacity: 1;
        }
    }

    .categoriesResponsive {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100vh;


        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.6);

        z-index: 1;

        animation: menuIn 0.6s ease-in-out;
    }

    @keyframes menuItemsIn {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }

        to {
            opacity: 1;
        }
    }

    .categoriesResponsive>button {
        background-color: rgba(213, 213, 213, 0);
        cursor: pointer;
        width: 40%;
        height: 30px;

        margin-top: 10px;
        margin-bottom: 10px;

        border: 3px solid black;
        color: white;

        animation: menuItemsIn 1s ease-in-out;
    }

    #menuBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2px;
        left: 2px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
        box-shadow: 2px 2px 2px 2px black;
    }

    .products2 {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;


    }

    @keyframes productsIn {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to {
            opacity: 1;
        }
    }

    .product2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3px;
        margin: 20px;

        border: 5px inset goldenrod;

        animation: productsIn 1s ease-in-out;
    }

    .productImage2 {
        width: 100%;
        height: 250px;
        position: relative;
    }

    .productImage2 img {
        width: 100%;
        height: 100%;
    }

    .product2 p {
        font-size: 1.3rem;
        font-weight: 900;
    }

    .productImage2 span {
        position: absolute;
        bottom: 10px;
        left: 5px;

        height: 25px;
        width: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: orange;
        border-radius: 11px;
        padding: 3px 6px;

        color: black;
        font-size: 0.7rem;
        font-weight: 600;
        text-align: center;


    }

    .productImage2 button {
        position: absolute;
        bottom: 10px;
        right: 10px;


        width: 35px;
        height: 30px;

        cursor: pointer;
    }

    .productImage2 button img {
        width: 100%;
        height: 100%;
    }

    .newsLetter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 5px;

        width: 80%;


    }

    .titleHeader>p {
        color: black;
        text-decoration: underline overline #FF3028;
    }

    .news2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid white;
        padding: 10px;
        background-color: black;
    }

    .newsInfo2,
    .newsInfo2 a {
        padding: 1.5rem;
    }

    .newsImage2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 50%;
    }

    /**/

    .news2 .newNews2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 5px;

        width: 90%;
    }

    .newsTitle2 {
        color: red;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .newsImage2 img {
        width: 100%;
        height: 100%;
    }

    .newsInfo2 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
    }

    .newsInfo2 a {
        text-decoration: none;
        color: rgb(300, 110, 10);
        position: absolute;
        bottom: -1.5rem;
        right: 0;
        transition: all 1s;
    }

    .contactInfo>p {
        font-size: 3rem;
    }

    .gmail p,
    .number p,
    .contactInfoRender>a p {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1300px) {
    .productImage {
        width: 100%;
        height: 230px;
        position: relative;
    }
}

@media only screen and (min-width: 2001px) {

    .categories>button {
        width: 350px;
        height: 100px;
    }

    .mainHeader div {
        width: 500px;
    }

    .mainHeader div p {
        font-size: 1.6rem;
    }

    .contactInfo p {
        font-size: 2rem;
    }

    .contactInfo>p {
        font-size: 3rem;
    }

    .titleHeader {
        font-size: 3rem;
    }

    .newsTitle {
        font-size: 2rem;
    }

    .newsInfo {
        font-size: 1.8rem;
    }

    .newsInfo>a {
        font-size: 1.6rem;
    }

    #subscribeButton {
        font-size: 2rem;
    }

    .newsLetter>button span::after {
        font-size: 2rem;
    }

    .newsLetter>button:hover span {
        padding-right: 50px;
    }

    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}